body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------------------- NavBar ----------------------- */

nav {
  background-color: #001d16 !important;
}

.logo {
  width: 7em;
}

/* ---------------------- Dashboard ---------------------- */

.dash-list {
  max-width: 50vw;

}

.dash-card {
  max-width: 35vw !important;

}
.trip-image-dash {
  object-fit: cover; 
}

